.video__block {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: min-content;
    gap: 20px;
    margin: auto;
}

@media (max-width:768px) {
    .video__block {
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
    }
}