.footer {
    max-width: 1024px;
    height: 80px;
    margin: 0 auto 10px auto;
    background-color: #c0c0c0;
    position: relative;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    /*border: springgreen 1px solid;*/
}